<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyliu.demo.aidldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".RemoteService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.easyliu.demo.aidl.IRemoteService" />
                <action android:name="com.easyliu.demo.aidl.ISecondary" />
                <action android:name="com.easyliu.demo.aidldemo.RemoteService" />
            </intent-filter>
        </service>

        <activity android:name=".BindActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>